.repl_history
build
tags
crashes/
design/
.vscode/
dump.*
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
vendor/
nbproject
.redcar
Gemfile.*
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
provisioning
