.repl_history
GoogleService*
build
tags
crashes/
design/
vendor/
.vscode/
dump.*
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
./vendor
vendor/*
vendor/Pods
nbproject
.redcar
Gemfile.*
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
provisioning
